---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-143">
    <div class="cs-container">
        <h1 class="cs-title">All Kinds of Suits for All Kinds of Occasions</h1>
        <p class="cs-text">
            Want a custom bespoke suit to look your best? Want a quick, off-the-rack suit that still looks good? Or one that’s made-to-measure, that doesn’t break the bank but still fits you? Book an appointment today!
        </p>
        <a href="" class="cs-button-solid">Book an Appointment</a>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/tailor/hero.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/tailor/hero.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/tailor/hero.jpg" alt="kitchen" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="h-services-143">
    <ul class="cs-card-group">
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/toolbox.svg" alt="icon" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Off-The-Rack</h2>
            <p class="cs-text">
                Off-The-Rack suits that are quick but will make you look good
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/buildings.svg" alt="icon" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Made-To-Measure</h2>
            <p class="cs-text">
            Made-To-Measure suits that will fit you perfectly and have you looking your best
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/gear.svg" alt="icon" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Bespoke Suits</h2>
            <p class="cs-text">
            Fully custom, bespoke suits where everything from the fabric to the button is chosen by you
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/user.svg" alt="icon" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Suits For Rent</h2>
            <p class="cs-text">
            A wide-variety of suits available for rent, allowing you to look your best without committing to a specific suit
            </p>
        </li>
    </ul>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1278">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/tailor/about.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/tailor/about.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/tailor/about.jpg" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our House</span>
                <h2 class="cs-title">Get To Know Our House</h2>
            </div>
            <p class="cs-text">
                We believe in transparency, communication, and collaboration. We listen carefully to our clients' needs and work closely with them throughout the construction process to ensure their satisfaction.
            </p>
            <a href="" class="cs-button-solid">Learn More</a>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg" alt="waves" width="960" height="839">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-973">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Work</span>
            <h2 class="cs-title">View Our Top Suits We've Made For Customers</h2>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/tailor/GalleryImages/1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/tailor/GalleryImages/1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/tailor/GalleryImages/1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/tailor/GalleryImages/2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/tailor/GalleryImages/2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/tailor/GalleryImages/2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/tailor/GalleryImages/3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/tailor/GalleryImages/3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/tailor/GalleryImages/3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/tailor/GalleryImages/4.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/tailor/GalleryImages/4.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/tailor/GalleryImages/4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/tailor/GalleryImages/5.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/tailor/GalleryImages/5.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/tailor/GalleryImages/5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/tailor/GalleryImages/6.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/tailor/GalleryImages/6.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/tailor/GalleryImages/6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/tailor/GalleryImages/7.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/tailor/GalleryImages/7.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/tailor/GalleryImages/7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/tailor/GalleryImages/8.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/tailor/GalleryImages/8.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/tailor/GalleryImages/8.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-399">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Listen To What Some Of Our Great Customers Have To Say</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                <!--White Quote-->
                <img class="cs-quote-white" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quotes-white.svg" decoding="async" alt="quote icon" width="60" height="55">
                <p class="cs-review">
                    Stitch Cleaning is my new go-to cleaning help! My boyfriend and I are always obsessed with their recommendations!
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Sarah
                        <span class="cs-job">HR Manager</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                <!--White Quote-->
                <img class="cs-quote-white" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quotes-white.svg" decoding="async" alt="quote icon" width="60" height="55">
                <p class="cs-review">
                    This site is seriously perfect. I love the layout, and its the first place I check before making plans with friends.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        John Doe
                        <span class="cs-job">Project Manager</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                <!--White Quote-->
                <img class="cs-quote-white" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quotes-white.svg" decoding="async" alt="quote icon" width="60" height="55">
                <p class="cs-review">
                    This site is seriously perfect. I love the layout, and its the first place I check before making plans with friends.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        John Doe
                        <span class="cs-job">Project Manager</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Get In Touch</span>
            <h2 class="cs-title">Get It Done With Us Today</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis at sit pellentesque molestie.  Diam, adipiscing ultrices eu turpis gravida.
            </p>
            <a href="" class="cs-button-solid">Book an Appointment</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/tailor/ties.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/tailor/ties.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/tailor/ties.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>


{% endblock %}
